.main-content-area{text-align: center; height:150px; display: flex;
  justify-content: center; align-items: center;}

.discount-card{width:100%; background-color:red; height:150px; display: flex;
  justify-content: center;
  align-items: center;}
.parties{width:100%; background-color:red; height:150px; margin-top: 30px; display: flex;
  justify-content: center;
  align-items: center;}
.food{width:100%; background-color:red; height:150px; margin-top: 30px; display: flex;
  justify-content: center;
  align-items: center;}

.venue-bar{width:100%; height:200px; background-color:red; margin-top:30px; display: flex;
  justify-content: center;
  align-items: center;}

.social-bar{width:100%; height:200px; background-color:red; margin-top:30px; display: flex;
  justify-content: center;
  align-items: center;}



  		@media (min-width: 576px) {
  		  .parties{margin-top:30px;}
  		 }


  		@media (min-width: 768px) {
  		.discount-card{margin-top:0px; height:200px;}
  		.parties{margin-top:0px; height:200px;}
  		.food{margin-top:0px; height:200px;}
  		}


  		@media (min-width: 992px) {
  		.discount-card{margin-top:0px; height:250px;}
  		.parties{margin-top:0px; height:250px;}
  		.food{margin-top:0px; height:250px;}
  		}


  		@media (min-width: 1200px) {
  		.discount-card{margin-top:0px; height:300px;}
  		.parties{margin-top:0px; height:300px;}
  		.food{margin-top:0px; height:300px;}
  		}
